---
export interface Props {
  title?: string;
}

const { title = 'SuigenerisBD | Uniquely Engineered' } = Astro.props;
import appScript from '../scripts/app-init.js?url';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
		<script type="module" src={appScript}></script>
	</body>
</html>
